@import "../../style/lib/_vars.scss";


#navbar {
  width: 100%;
  height: 8vh;

  h1 {
    float: left;
    width: 90%;
    height: 3vh;
    margin-top: 1.5vh;
    margin-left: 1.5%;
    font-family: $font;
    font-size: 2.5vh;
  }
  ul {
    float: left;
    width: 100%;
    height: 4vh;
    margin-top: 0.5vh;

    li {
      margin-left: 1.5%;
      display: inline-block;
      float: left;
      width: 15%;
      height: 4vh;

      button {
        float: left;
        width: 100%;
        height: 4vh;
        border: none;
        border-radius: 5px;
        background: #87D300;
        font-family: $font;
        font-size: 2vh;
        color: #FFFFFF;
        cursor: pointer;
        outline: none;
      }

    }

    .selected button {
      background: #0474E4;
      transition: 350ms all;
    }
  }
}
@media (max-width: 900px) and (orientation:landscape) {
  #navbar {
    h1 {
      font-size: 4vh;
      height: 4vh;
    }
    ul li button {
      border-radius: 2.5px;
    }
  }
}